main{
    position: relative;
    /* grid-template-columns: 25% 75%; */
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
    scrollbar-width: none;
}
iframe::-webkit-scrollbar {
    display: none;
}
#deck{
    /* grid-column: 2; */
    z-index: 10000000;
    width:110%;
}
#chat{
    position: absolute;
    top:25%;
    left:0;
    /* grid-column: 1; */
    height: 100rem;
    width: 25%;
    z-index: 10000001;
}
/* .scanline{
    z-index: ;
} */