/*************************game*************************/
:root {
    --card-height: 20vh;
    --card-width: 7vw;
}

video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
* {
    cursor: unset;
}
header{
    display: none;
}
main{
    visibility: hidden;
    position: relative;
    display:grid;
    grid-template-columns: 25%  75%;
    grid-template-rows: 100%;
    height: 95vh;
    
}
.scanline {
    /* On réduit l'intensité sinon le texte des cartes et bouton est illisible */
    --scanline-itensity: 0.25; 

    position: fixed;
    display: block;
    top: 0;  left: 0;  right:0;  bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, var(--scanline-itensity)), rgba(0, 0, 0, var(--scanline-itensity)) 1px, transparent 1px, transparent 2px);
    /* Permet de ne pas interrompre l'intéraction du pointeur avec le contenu en dessous */
    pointer-events: none;
  
    /* Change le contraste du scanline pour donner l'illusion de mouvement */
    animation: 10s ease alternate infinite contrastScan;
}
footer{
    pointer-events: none;
    position: fixed;
    display: block;
    top: 0;  left: 0;  right:0;  bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

/* Opponent info */
#info-wrapper{
    grid-column: 1;
    padding-top: 1vh;
    padding-right: 1vw;

    border-style: solid;
    border-bottom: white;
    border-left: white;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

#opponent-info{
    grid-row: 1;
    display: grid;
}
.username{
    text-align: center;
}
.heroclass{
    display: flex;
}
.talent{
    display: flex;
}
#stats{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
:is(#trophy, #win, #loss) {
    display: grid;

    grid-template-rows: 1fr 1fr;
    text-align: center;
}

/* Control center */
#control-center{
    grid-row: 2;
    border-style: solid;
    border-right: white;
    border-bottom: none;
    padding-left: 1vw;
}
#chat{
    padding-top: 2.5vh;
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/* GAME STYLE */
#game-wrapper{
    grid-column: 2;
    padding-left: 1vw;

    display: grid;
    grid-template-rows: 20% 55% 25%;
}


/* OPPONENT DASHBOARD  */

#opponent{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    align-content: center;
}
#opponent > *{
    text-align: center;
}
@keyframes BrainRotation {
    from {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}
img{
    align-self: center;
    height:250px ;
    width: 250px ;
    animation: 10s linear infinite BrainRotation;
}
.welcomeText{
    position: absolute;
    top: 7vh;
    left:75vw;
}

/* GAME BOARD */

#board{
    position: relative;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
canvas{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 99, 71, 0.192); */
    z-index: -1000;
}
:is(#opponent-board, #player-board ){
    display: flex;
    justify-content: center;
    align-content: space-evenly;
}
#opponent-board{
    grid-row: 1;
    /* padding-top: 2vh; */
    display: flex;
}
#player-board{
    grid-row: 2;
    /* padding-bottom: 2vh; */
    display: flex;
}

/* PLAYER DASHBOARD  */
#player{
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
}
#hand{
    display: flex;
    justify-content: center;
}
#player-dashboard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#player-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


/* CARDS STYLE */
:is(.players-hand, .players-card, .opponents-card) {
    height: var(--card-height);
    width: var(--card-width);
    font: var(--font-pref);
    font-size: 1rem;
    /* color: black; */
}

/* TIMER */
.remainingTurnTime{
    position: absolute;
    top: 50% - 5rem;
    right:2.5%;
    font-size: 5rem;
    /* z-index: 100; */
}

