:root {
  --font-pref: 2.75rem Inconsolata, monospace;
  --scanline-itensity: 0.40;
  --text-bleed-intensity: 15px;
  --animation-pulsing: 1.5s ease-out alternate infinite pulsingBG;
}

/* Animation */
@keyframes pulsingBG {
  0% {filter: brightness(1.25);}
  100% {filter: brightness(1.55);} /* À garder entre 1.5 et 1.75 */
}
@keyframes contrastScan {
  0% {filter: contrast(1);}
  100% {filter: contrast(2);}
}

@keyframes typing {
  from {
    width: 0;
  }
  
}
@keyframes noblink {
  0% {
    border-color: transparent;
  }
}
/* Texte automatique */
.typing{
  width: 24ch;
  animation: typing 2s steps(24), noblink .5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

/* Change le cursor globalement */
* {
  cursor: text;
}

body {
  background-color: black;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.100), black 120%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: var(--font-pref);
  text-shadow: 0 0 var(--text-bleed-intensity) #C8C8C8;

  /* Simule l'éclairage dansant d'un moniteur cathodique */
  /* L'effet est un peu exagéré, mais est plaisant à l'oeil */
  animation: 1.5s ease-out alternate infinite pulsingBG;
}

.scanline {
  position: fixed;
  display: block;
  top: 0;  left: 0;  right:0;  bottom: 0;
  width: 100vw;
  height: 100vh;

  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, var(--scanline-itensity)), rgba(0, 0, 0, var(--scanline-itensity)) 1px, transparent 1px, transparent 2px);
  /* Permet de ne pas interrompre l'intéraction du pointeur */
  pointer-events: none;
  cursor: text;

  /* Change le contraste du scanline pour donner l'illusion de mouvement */
  animation: 10s ease alternate infinite contrastScan;
}

::selection {
  background: white ;
  text-shadow: none;
  color:black;
}
main {
  display: grid;
  height: 100%;
}


