:root {
  --font-pref: 2.0rem Inconsolata, monospace;
}

body {
  background-color: black;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.100), black 120%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: var(--font-pref);
  text-shadow: 0 0 5px #C8C8C8;
  cursor: text;
 
}

.scanline {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  /* Je pourrai jouer avec la taille du scanline ici et voir ma préférence */
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
  /* Permet de ne pas intérompre l'intéraction du pointeur */
  pointer-events: none;
  cursor: text;
  z-index: 2;
}


::selection {
  background: white ;
  text-shadow: none;
  color:black;
}

.login-form-frame {
  position:absolute;
  top: 40vh;
  left: 40vw;
}

.form-label{
  display: inline;
}
.form-separator {
  padding-top: 1em;
  padding-bottom: 1em;
}
.form-input {
  display: inline;
}
.form-input > *{
  color: white;
  font: var(--font-pref);
  text-shadow: 0 0 5px #C8C8C8;
  background-color: transparent;
  border:none;
  outline:none;
}

/* On devrait surement éliminer ce Bouton */
button {
  display: none;
}

