/*************************guide*************************/

main{
    display: grid;
    grid-template-columns: 75% 25%;
    
}
/* ARTICLE */
#articles{
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    grid-column: 1;
    overflow-y: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
}
#articles::-webkit-scrollbar {
    display: none;
}

/* AJOUT COMMENTAIRE */
#ajout-commentaire{
    position: relative;
    width: 25vw;
}
form{
    display: grid;
    grid-template-rows: auto;
}

/* HISTORIQUE */
#historique{
    position: relative;
    grid-column: 2;
    overflow-y: scroll;
    scrollbar-width: none;
    border-left: solid white;
    padding-left: 1rem;
}
#historique::-webkit-scrollbar {
    display: none;
}