/*************************home*************************/
main {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: auto;
}
/* Sidebar */
.sidebar {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
}
.sidebar >.button-wrapper{
    text-align: left;
    padding-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    
}
.sidebar >.menu-title-wrapper{
    /* background-color: white; */
    border-color: white;
    border-right: none;
    border-left: none;
    border-bottom-style: solid;
    border-top-style: solid;
    box-shadow: inset 0 0.5rem 0.5rem -0.65rem #C8C8C8, 0 0.5rem 0.5rem -0.6rem #C8C8C8;
    
    height: 100%;
    display: grid;
    align-items: center;
}
.menu-title {
    text-align: center;
    color:white;

}
button, .button-wrapper {
    background-color: transparent;
    --text-bleed-intensity: 7px;
    border: none;
    color: white;
    font: var(--font-pref);
    font-size: var(--font-size-res);
    text-shadow: 0 0 var(--text-bleed-intensity) #C8C8C8;
    transition-duration: 0.10s ;
}
button:focus-visible {
    /* met les boutons en surbrillance quand il sont en focus par tab */
    background: white ; 
    text-shadow: none;
    color: black;
    outline: none;
}
button:hover, .button-wrapper:hover > button{
    background-color: white;
    text-shadow: none;
    color:black;
}
:is(textarea.type){
    display: none;
}
input#username{
    --text-bleed-intensity: 7px;
    color: white;
    font: var(--font-pref);
    font-size: calc(var(--font-size-res) - 1rem);
    text-shadow: 0 0 var(--text-bleed-intensity) #C8C8C8;
    background-color: transparent;
    border:none;
    outline:none;
    animation: var(--animation-pulsing);
    opacity: 0;
    height: 2rem;
}
#observer:hover > input#username{
    opacity: 1;
    animation: 1s linear alternate infinite pulsingBorder;
}
input#username:hover{
    border-bottom: solid white 1px;
    width: 10.5rem;
}
@keyframes pulsingBorder{
    0% {filter: brightness(0.5);}
    100% {filter: brightness(1.75);} /* À garder entre 1.5 et 1.75 */
}
/* chat  */
.chat{
    position:relative;
    border-left-style: solid;
    box-shadow: inset 0.5rem 0 0.5rem -0.65rem #C8C8C8, 0.5rem 0 0.5rem -0.65rem #C8C8C8;
    
    display: grid;
    grid-template-rows: 10% 55% 35%;
    max-width:70vw;
    
    padding-right: 1vw;
}
.chat-title{
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
#chat{
    padding-left: 1rem ;
}
iframe {
    
    position: relative;
    width: 68.50vw;
    height: 100%;
    border: none;
    margin-bottom: -0.50rem;
}
iframe:focus{
    outline: none;
}
iframe > *{
    scrollbar-width: none;
}

#system-messages{
    padding-left: 1rem ;
    position: relative;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    
}

#system-messages-title{
    margin-bottom: 1.5rem;
}
#log{
    height: 20rem;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;

}
#log::-webkit-scrollbar {
    display: none;
}
#log li{
    padding: 0.125rem;
    font-size: 1.75rem;

}

.error-div{
    position: relative;
    animation: none;
    opacity: 1;
}