/*************************index*************************/
#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}
canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
}

@keyframes rotation {
    from {
        transform: rotate3d(0, 1, 0,90deg);
    }
}
.rotate {
    animation: 2s linear alternate infinite rotation;
    position: absolute;
    top: 0;
    left: 0;
}