/*************************login.php*************************/
.login-form-frame {
    margin: auto;
}
.form-label {
    display: inline;
}
.form-separator {
    padding-top: 1em;
    padding-bottom: 1em;
}
.form-input {
    display: inline;
}
/* Rends le form input transparent */
.form-input > *{
    --text-bleed-intensity: 7px;
    color: white;
    font: var(--font-pref);
    text-shadow: 0 0 var(--text-bleed-intensity) #C8C8C8;
    background-color: transparent;
    border:none;
    outline:none;
    animation: var(--animation-pulsing);
}
/* Cache le bouton de connexion */
button {
    display: none;
}