
/***   main nav   ***/
/*#site-nav > ul > li {
    transition-timing-fonction: ease-inout;
    transition-duration: 1s;
}
#site-nav > ul > li:hover {
    transition: background-color ease-inout 0.5s;
}
#site-nav > ul > li:hover a {
    transition: color ease-inout 0.5s;

}*/

#site-nav > ul > li a {
	/*background-color: #AD310B;*/
    /*background-color: rgba(0, 0, 0, 0);*/
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#site-nav > ul > li a:hover {
    /*background-color: rgba(190, 30, 30, 0.9);*/
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#site-nav > ul > li a.active {
	color:#FFFFFF;
    background-color: rgba(190, 30, 30, 1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.light #site-nav > ul > li a.active {
    color:#be1e1e;
    background-color: rgba(255, 255, 255, 1);
}


